@import "../../node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Cinzel';
    color: #F5EDE0;
    background-color: #1C1A14;
    /* Deep Espresso Brown */
    background-image: url('../assets/background.webp');
    background-repeat: repeat;
    background-blend-mode: multiply;
}

header {
    background-color: #6D5845;
    font-weight: bold;
    padding: 10px;
    background-image: url('../assets/background.webp');
}

button {
    background-color: #997F5B;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #B49A7B;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-info {
    margin-left: auto;
    margin-right: 2.5rem;
    color: #2E2A22;
    font-size: clamp(5px, 1rem, 2rem);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    flex-shrink: 0;
}

.imageDiv {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: auto auto;
    justify-items: center;
}

#content {
    padding-top: 3rem;
    display: grid;
    justify-content: center;
}

/* home.js */
.home {
    padding-top: 0.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.homeContents {
    width: 95%;
    display: grid;
    gap: 1rem;
    justify-items: center;
}

.welcomeMessage {
    display: grid;
    gap: 1rem;
}

.logoImage {
    height: 150px;
    width: 150px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 2px solid rgb(166, 124, 0);
}

.home-items {
    width: 95%;
    border-radius: 1rem;
    background-color: #F5EDE0;
    color: #2E2A22;
    text-align: start;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.dish-image {
    height: 21rem;
    border-radius: 0.7rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

/* menu.js */
.menu-header {
    font-size: 5.5rem;
    text-align: center;
    padding-top: 1rem;
}

.menu {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.menu-list {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    padding-left: 1rem;
}

.display-info {
    display: grid;
    grid-column: 2/3;
    justify-items: center;
    align-self: start;
    gap: 1rem;
    width: 100%;
    padding-top: 4rem;
    max-width: 400px;
}

.p0 {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    text-shadow: rgb(166, 124, 0);
    margin: 0;
    padding-top: 1.6rem;
}

.p1 {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    grid-row: 1/2;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 2px solid #D1B88F;
    margin-bottom: 20px;
    padding-bottom: 10px;
    transition: color 0.3s ease;
}

.p1.selected {
    color: #D1B88F;
}

.p1:hover {
    color: #ffd700;
    cursor: pointer;
}

.price-span {
    justify-self: end;
}

.menu-span {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #2E2A22;
    color: #F5EDE0;
    text-align: center;
    font-size: 0.8rem;

}

.footer-spacer {
    height: 2rem;
}